
<section class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">@T("ls_Catalog")</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">@ViewData["title"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="card qar-form" action="/@CurrentLanguage/@ControllerName/@(ActionName)" method="post"
                     enctype="multipart/form-data">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                                <h5>@ViewData["title"]</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body "  >
                        <div class="dt-responsive">
                            <div class="mb-1">
                                <input type="file" class="d-none" id="fileInput" name="uploadFile"  accept=".xlsx,.xls,.pdf">
                                <button type="button" id="btn-get-bill" class="btn btn-primary me-2" data-loading-text="@T("ls_Loading") ...">
                                    <i class="fa-duotone fa-floppy-disk me-1"></i> @T("ls_Choosefile")
                                </button>
                                <button type="submit" id="btn-sub-bill" class="btn btn-primary me-2" data-loading-text="@T("ls_Loading") ...">
                                    @T("ls_Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#btn-get-bill').on('click', function () {
                $('#fileInput').click();
            });

            $('#fileInput').on('change', function () {
                if (this.files.length > 0) {
                    $('#btn-sub-bill').prop('disabled', false); 
                    console.log('选择了文件：' + this.files[0].name);
                } else {
                    $('#btn-sub-bill').prop('disabled', true); 
                }
            });

            $('#btn-sub-bill').prop('disabled', true);
        });
    </script>
    }